@inject IJSRuntime JsRuntime
<style>
    .height-restricted {
    }
</style>

<div class="height-restricted"><canvas id="@Id"></canvas></div>

@code {

    public enum ChartType
    {
        Pie,
        Bar,
        Line
    }
    
    [Parameter]
    public string Id { get; set; }
    
    [Parameter]
    public ChartType Type { get; set; }
    
    [Parameter]
    public List<Dataset> Datasets { get; set; }
    
    [Parameter]
    public string[] Labels { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var config = new
        {
            Type = Type.ToString().ToLower(),
            Options = new
            {
                Responsive = true,
                SpanGaps = true,
                Scales = new
                {
                    YAxes = new[]
                    {
                        new
                        {
                            Ticks = new
                            {
                                BeginAtZero = false
                            }
                        }
                    }
                },
                Plugins = new
                {
                    Legend = new
                    {
                        Position = "bottom"
                    }
                }
            },
            Data = new
            {
                Datasets = Datasets.ToArray(), 
                Labels = Labels
            }
        };
        
        await JsRuntime.InvokeVoidAsync("setup", Id, config);
        await base.OnAfterRenderAsync(firstRender);
    }

}